<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" type="text/css" href="/bootstrap-toggle/css/bootstrap-toggle.min.css">
		<link rel="stylesheet" type="text/css" href="/select2/css/select2.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2-width-fix.css">
		<% include ../partials/head %>
	</head>

<body>
	<header>
		<% include ../partials/header_edits %>
	</header>

	<div id="myModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">function result</h4>
	      </div>
	      <div class="modal-body">
	        <p>The operation succeded!</p>
	      </div>
	      <div class="modal-footer">
	        <button name="okbtn" type="button" class="btn btn-primary">OK</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div id="body" class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h4 style="margin-top:0px;margin-bottom:15px;color:white;">Database functions</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				<button id="archive" type="button" class="btn btn-front" onclick="archive();">
					<span class="glyphicon glyphicon-compressed"></span>
				</button>
			</div>
			<div class="col-xs-10 col-sm-11">
				<p style="color:white;padding-top:8px;">Archive sensor data to history</p>
			</div>
		</div>
		<div class="row" style="margin-top:15px;">		
			<div class="col-xs-2 col-sm-1">
				<button id="export" type="button" class="btn btn-front" onclick="exportcsv();">
					<span class="glyphicon glyphicon-download-alt"></span>
				</button>
			</div>
			<div class="col-xs-10 col-sm-11">
				<p style="color:white;padding-top:8px;">Export sensor data to a csv file</p>
			</div>
		</div>
	</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/javascripts/custom.js"></script>

<script>

	// $( document ).ready(function() {
	// })

	function archive(action){
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
			url: "/config/archive_database",
			data: JSON.stringify({action:action}),
			success: function(rdata) { //rdata = remote data that the server sends as feedback...
				console.log(rdata.result);
				if (rdata.result==="ok"){
					$('.modal-body>p').text('All sensor prior the last 24 hours are archived successfully!');
					$('#myModal').modal('show');
				}
				else if (rdata.result==="error"){
					$('.modal-body>p').text('The archiving of sensor data failed!');
					$('#myModal').modal('show');
				}
				else if (rdata.result==="no need"){
					$('.modal-body>p').text('No need to archive. Aborted!');
					$('.modal-footer').prepend('<button onclick="forcearchive();" name="forcebtn" type="button" class="btn btn-danger">Force archive</button>')
					$('#myModal').modal('show');
				}					
			},
			dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
		});
	}


	$("[name='okbtn']").click(function(){
		$('#myModal').modal('hide');
	});

	$('#myModal').on('hidden.bs.modal', function (e) {
	    if($('[name="forcebtn"]').length){
        	$('[name="forcebtn"]').remove();
    	}
	})

	function forcearchive(){
		$('#myModal').modal('hide');
		setTimeout(function(){
			archive('force');
			}, 1000)				
	};


	function exportcsv(){
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
				url: "/config/export_database",
				// data: JSON.stringify({action:action}),
				success: function(rdata) { //rdata = remote data that the server sends as feedback...
					console.log(rdata.result);
					if (rdata.result==="ok"){
						var downloadbtn = '<div class="row" style="padding-top:15px;">' +
							'<div class="col-xs-12">' +
								'<a href="http://<%=base_url%>/files/sensor_data.csv" class="btn btn-primary">'+
								'Download'+
								'</a>'+
							'</div>' +
						'</div>';
						$('#body').append(downloadbtn);				
					}
					else if (rdata.result==="error"){
						$('.modal-body>p').text('The export of sensor data to csv file failed!');
						$('#myModal').modal('show');
					}
				},
				dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
			});
		}


</script>

<script type="text/javascript">
	function backButton() {
	    var value = readCookie('backUrl');
	    eraseCookie('backUrl');
	    document.location.href = value;
	}
</script>