<!DOCTYPE html>
<html>
	<head>
	<% include ./partials/head %>
	</head>
	<style type="text/css">
		h1, h4{
			color:white;
		}
		p{
			color:lightgray;
			font-size: 15px;
		}
	</style>
<body>
		<header>
				<% include ./partials/header_edits %>
		</header>

		<div class="container-fluid"  >
			<div class="row">
				<div class="col-xs-12">
			        <h1 class="text-center" style="margin-top:10px;">
			            <a style="color:white;text-decoration: none;" href="http://<%=base_url%>/">
				    		<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				        	Pyre
				        </a>
				    </h1>
			        <h4 class="text-center">the smart thermostat (v <%=version%>)</h4>
			        <p class="text-center" style="margin-top:20px;">Nikiforakis Manos (nikiforakis.m@gmail.com)</p>
			        <p class="text-center">
			        	<a style="text-decoration: none;" href="https://opensource.org/licenses/MIT">MIT Licence</a> Copyright
			        	&copy; 2015 - 2019
			        </p>
				</div>
			</div>
		</div>

</body>

<% include ./partials/javascript.ejs %>
<script src="/javascripts/custom.js"></script>

<script type="text/javascript">
	function backButton() {
	    var value = readCookie('backUrl');
		eraseCookie('backUrl');
		if(value != null){
			document.location.href = value;
		}
		else {
			document.location.href='/'
		}
	    
	}
</script>