<!DOCTYPE html>
<html>
	<head>
	<% include ./partials/head %>
	</head>
	<style type="text/css">
		h1, h4{
			color:white;
		}
		p{
			color:lightgray;
			font-size: 15px;
		}
	</style>
<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#" onclick="window.location = document.referrer;">
			        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
			        </span> back
			      </a>
			    </div>
			  </div><!-- /.container-fluid -->
 		    <hr style="margin-top:0px;margin-bottom:0px">
			</nav>
		</header>

		<div class="container-fluid"  >
			<div class="row">
				<div class="col-xs-12">
			        <h1 class="text-center" style="margin-top:10px;">
			            <a style="color:white;text-decoration: none;" href="http://<%=base_url%>/therm">
				    		<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
				        	Pyre
				        </a>
				    </h1>
			        <h4 class="text-center">the smart thermostat (v <%=version%>)</h4> 
			        <p class="text-center" style="margin-top:20px;">Nikiforakis Manos (nikiforakis.m@gmail.com)</p>
			        <p class="text-center">
			        	<a style="text-decoration: none;" href="https://opensource.org/licenses/MIT">MIT Licence</a> Copyright 
			        	&copy; 2015, 2016
			        </p>
				</div>
			</div>
		</div>

</body>

<% include ./partials/javascript.ejs %>
