@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,greek);

html {
	/*If I decide to have a background image. On desktop & mobile looks good but on Rpi seems to
	be heavy on rendering and doesn't look that good...
	*/

	/*height:100%;
	background: url(../images/flames_mono_2.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

body {
  font: 14px "Ubuntu", sans-serif;
  /*background-color: #252830;*/
  background-color: #002B36;
  /*background-color: inherit; if I decide to have a background image...*/
  margin: 0px 0px 0px 0px;
  height:100%;
}

/*Grouping labels*/

.label-group>.label:first-child {
	border-top-left-radius: 0.25em
	border-bottom-left-radius: 0.25em
	margin-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.label-group>.label:nth-child(n+2) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.label-group>.label:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    margin-left: 0;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.label-group>.label:only-child {
	border-radius: 0.25em
}

/*Changing the bootstraps's navbar styling*/

.navbar>.container-fluid{
	min-height:40px;
}

.collapse {
	min-height:40px;
}

.navbar-right>li>a{
	padding-top: 9px;
	padding-bottom: 9px;
}

.navbar {
	min-height: 40px;
	margin-bottom: 10px;
}

.navbar-brand{
	padding-top:0px;
	padding-left: 15px;
}


a.navbar-brand {
	padding-top: 10px;
	padding-bottom: 0px;
	height: 43px;
}


.navbar-header>button {
	padding-top:7px;
	padding-bottom: 7px;
	margin-top: 7px;
	margin-bottom: 5px;
}

.navbar-toggle>.icon-bar{
	height:1px;
}


/*Changing navbar's color style*/

.navbar-inverse{
	background-image: none;
	background-repeat: no-repeat;
	/*background-color: #252830;*/
	/*border-color: #252830;*/
  background-color: #001F27;
  border-color: #001F27;
	/*opacity:0.8;*/
}


.navbar-inverse .navbar-brand {
	color: #51586a;
}

.navbar-inverse .navbar-toggle{
	border-color: #434857;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #434857;
	/*color: white;*/
}

.navbar-collapse{
	box-shadow: none;
	border-style: solid;
	border-bottom: 1px;
	border-color: white;
}



/*Changing the navbar's dropdown menu style*/

ul.nav.navbar-nav.navbar-right{
	margin-top: :10px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #cfd2da;
}

#bs-example-navbar-collapse-1.navbar-collapse{
	border:0px;
	margin-left:0px;
	/*margin-right: 0px;*/
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #434857;
}


/*Panels*/

/*Reducing panel's heading size*/

.panel-heading > h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

/*.panel{
	background-color: transparent;
}

.panel-body{
	background-color: white;
	opacity: 1;
}*/



/*horizontal line styling*/

hr{
    /*border-color: #434857;*/
    border-color: #001F27;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

/*Buttons - more styles*/

.btn-front{
 	background-color: #434857;
 	color: white;
}

.btn-front:hover{
	border-color: gray;
	color:white;
}



.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #434857!important;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: #434857;
    opacity: 1;
    cursor:not-allowed;
}


.popover .scroll-content{
	overflow: visible!important;
}

.remove-timewindow{
	cursor:pointer;
	color:gray;
}

.remove-timewindow:hover{
	color: black;
}
