html {
	/*If I decide to have a background image. On desktop & mobile looks good but on Rpi seems to
	be heavy on rendering and doesn't look that good...
	*/

	height:100%;
	/* background: url(../images/flames_mono_2.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; */
}

body {
  font: 14px LatoWeb;
  /* background-color: #002B36; */
  background-color: rgb(31,32,35);
  /*background-color: inherit; if I decide to have a background image...*/
  /* margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; */
  height: 100%;
}

/*this disables the user text selection!*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

/*Grouping labels*/

.label-group>.label:first-child {
	border-top-left-radius: 0.25em
	border-bottom-left-radius: 0.25em
	margin-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.label-group>.label:nth-child(n+2) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.label-group>.label:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    margin-left: 0;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.label-group>.label:only-child {
	border-radius: 0.25em
}

/*Changing the bootstraps's navbar styling*/

.navbar>.container-fluid{
	min-height:40px;
}

.collapse {
	min-height:40px;
}

.navbar-right>li>a{
	padding-top: 9px;
	padding-bottom: 9px;
}

.navbar {
	min-height: 40px;
	margin-bottom: 10px;
}

.navbar-brand{
	padding-top:0px;
	padding-left: 15px;
}


a.navbar-brand {
	padding-top: 10px;
	padding-bottom: 0px;
	height: 43px;
}


.navbar-header>button {
	padding-top:7px;
	padding-bottom: 7px;
	margin-top: 7px;
	margin-bottom: 5px;
}

.navbar-toggle>.icon-bar{
	height:1px;
}

/* Changing modals header color */
#infoModal .modal-header{
	background-color:lightblue;
}
#infoModal .modal-content {
   overflow:hidden;
}

/* Changing modal's size */

#overrideModal.modal.fade.in {
	padding-right: 0px !important;
}

#overrideModal .modal-body {
	padding-bottom: 5px;
}

#overrideModal .modal-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Changing navbar's color style*/

.navbar-inverse{
	background-image: none;
	background-repeat: no-repeat;
  /* background-color: #001F27; */
  /* border-color: #001F27; */
  background-color: rgb(31,32,35);
  border-color: rgb(31,32,35);

}


.navbar-inverse .navbar-brand {
	color: #51586a;
	/* color:rgb(31,32,35); */
}

.navbar-inverse .navbar-toggle{
	/* border-color: #434857; */
	color:rgb(31,32,35);
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: #434857;
	/*color: white;*/
}

.navbar-collapse{
	box-shadow: none;
	border-style: solid;
	border-bottom: 1px;
	border-color: white;
}



/*Changing the navbar's dropdown menu style*/

ul.nav.navbar-nav.navbar-right{
	margin-top: :10px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #cfd2da;
}

#bs-example-navbar-collapse-1.navbar-collapse{
	border:0px;
	margin-left:0px;
	/*margin-right: 0px;*/
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #344fa0;
	/* text-decoration: none;
	border-bottom: 4px solid#344fa0; */
}


/*Panels*/

/*Reducing panel's heading size*/

.panel-heading > h5{
	margin-top: 0px;
	margin-bottom: 0px;
}

/*.panel{
	background-color: transparent;
}

.panel-body{
	background-color: white;
	opacity: 1;
}*/



/*horizontal line styling*/

hr{
    /*border-color: #434857;*/
    border-color: #001F27;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
}

/*Buttons - more styles*/

.btn-front{
 	background-color: #434857;
 	color: white;
}

.btn-front:hover{
	border-color: gray;
	color:white;
}

/***********************
  OUTLINE BUTTONS
  https://www.bootstrapbay.com/blog/bootstrap-button-styles/
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 1px solid white;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-primary.outline:disabled, .btn-primary.outline.disabled {
	opacity: 1;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #434857!important;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: #434857;
    opacity: 1;
    cursor:not-allowed;
}


.popover .scroll-content{
	overflow: visible!important;
}

.remove-timewindow{
	cursor:pointer;
	color:gray;
}

.remove-timewindow:hover{
	color: black;
}

.remove-sensor{
	padding-top:10px;
	padding-right:10px;
	color:gray;
}
.remove-sensor:hover{
	color: red;
	cursor: pointer;
}

@media (max-width:320px){
	.pitft-hide {
		display:none !important;
	}
}

.circle
    {
    width:70px;
    height:70px;
	border-radius:35px;
	border:solid;
	border-width: 2px;
    font-size:13px;
    color:rgb(0, 156, 181);
    line-height:70px;
	text-align:center;
	border-color: rgb(0, 156, 181);
    /* background:red; */
	}
	

/* Timeline */
#content {
	margin-top: 40px;
	margin-left:10px;
	text-align: left;  
  }

.timeline {
	border-left: 4px solid #4298C3;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;    
	background: rgba(255, 255, 255, 0.03);
	color: rgba(255, 255, 255, 0.8);
	margin: 15px 10px 10px 120px;  
	letter-spacing: 0.5px;   
	position: relative;
	line-height: 1.4em;
	font-size: 1.03em;  
	padding-top:2px; 
	padding-left: 15px;
	padding-right:auto;   
	list-style: none;
	text-align: left;  
	font-weight: 100;  
	max-width: 60%; 
}
	.timeline h1, h2, h3 {
	 letter-spacing: 1.5px;
	 font-weight: 100;
	 font-size: 1.4em;    
	}
	
	.timeline .event {
	  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
	  padding-bottom: 5px;
	  margin-bottom: 5px;  
	  position: relative;
	}

	.timeline .event:last-of-type { 
		padding-bottom: 8px;
		margin-bottom: 8px; 
		border: none;      
	  }
  
	  .timeline .event:before, .timeline .event:after {
		position: absolute;
		display: block;
		top: 0;
	  }
  
	  .timeline .event:before {
		left: -195px;    
		color: rgba(255, 255, 255, 0.4);   
		content: attr(data-date);
		text-align: right;
		font-weight: 100;    
		font-size: 0.9em;
		min-width: 160px;
	  }
  
	  .timeline .event:after {
		box-shadow: 0 0 0 4px #4298c3;
		left: -23px;        
		background: #c5c8d4;  
		border-radius: 50%;  
		height: 11px;
		width: 11px;
		content: "";
		top: 4px;
	  }
	
.status {
	font-size:40px;  
	color:rgb(10,10,10); 
	/* text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px goldenrod; */
}
.status.working {
	text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px goldenrod;
} 

.status.paused {
	text-shadow: -1px 0 rgb(130, 155, 238), 0 1px rgb(130, 155, 238), 1px 0 rgb(130, 155, 238), 0 -1px rgb(130, 155, 238);
} 

.status.away {
	text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
} 

.status.default {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
} 

.status-pitft.working {
	color:goldenrod;
}

.status-pitft.paused{
	color: rgb(130, 155, 238);
}

.status.pitft.away {
	color: lightgray;
}

.status-pitft.default{
	color:lightseagreen;
}


.offline {
	text-decoration: line-through;
}

.card-main {
	background-color: rgb(10, 10, 10);
	border: solid;
	border-width: 1px;
	border-color: rgb(10, 10, 10);
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}

.card-main-xs {
	background-color: rgb(10, 10, 10);
	color: white;
	padding-top: 10px;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.card-main>p {
	color: white;
	font-weight: lighter;
	font-size: medium;
	padding-left: 15px;
	padding-top: 10px;
}

.card-secondary {
	background-color: rgb(30, 37, 42);
	border: solid;
	border-width: 1px;
	border-color: rgb(30, 37, 42);
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}

.card-secondary>p {
	color: white;
	font-weight: lighter;
	font-size: medium;
	padding-left: 15px;
	padding-top: 10px;
}

.card-extra {
	background-color: rgb(45, 50, 53);
	border: solid;
	border-width: 1px;
	border-color: rgb(45, 50, 53);
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}

.card-extra>p {
	color: white;
	font-weight: lighter;
	font-size: medium;
	padding-left: 15px;
	padding-top: 10px;
}